<!DOCTYPE html>
<html>
<head>
	<title>comp.sci.finalProject</title>
	<script src="https://unpkg.com/vue"></script>
	<style>
		body{
			background: #FFFFFF;
		}
	</style>
</head>
<body>
	<div class="content">
			<h1>tbd</h1>
			<ul>
				<li
					v-for="student in students"
					:key="student.studentId"
					>
					<span>
						{{ student.title }}
					</span>
					<button @click="removeStudent(student.studentId)">removeStudent</button>
				</li>
			</ul>
			<p>addStudent</p>
			<input type="text" v-model="newStudentTitle"/>
			<button @click="addItem">addStudent</button>
	</div>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				students: [{ studentId: 1, title: 'addStudent'}],
				newStudentTitle: '',
				latestStudentId: 1,
			},
			methods: {
				addStudent: function () {
					this.students.push({
						studentId: this.latestStudentId +=1,
						title: this.newStudentTitle
					})
					this.latestStudentId += 1,
					this.newStudentTitle = ""
				},
				removeStudent: function (studentID) {
					this.students = this.students.filter((item) => {return student.studentId !== studentId})
				}
			}
		})
	</script>
</body>
</html>