.home{
  display: flex;
}
.student {
  display: flex;
  flex-direction: column;
}
.student .header{
  display: flex;
  flex-direction: row;
}
.lastName{
  display: flex;
  font-weight: italic;
  background: #FFFFFF; 
  color: #000000;
  flex: 3;
}
.firstName{
  display: flex;
  font-weight: italic;
  background: #FFFFFF; 
  color: #000000;
  flex: 2;
}
.aspects{
  display: flex;
  margin: 4px;
  padding: 0px;
  border: 2px solid blue;
  flex-direction:column;
}
.aspects:before{
  content: "Aspects";
  font-weight: bold;
  background: #0000FF;
  color: #FFFFFF;
}

.aspect, .aspects:before{
  flex: 1;
  padding: 0.5em;
}