.home{
  display: flex;
}
.student {
  display: flex;
  flex-direction: column;
}
.student .header{
  display: flex;
  flex-direction: row;
}
.lastName{
  display: flex;
  font-style: italic;
  flex: 3;
}
.firstName{
  display: flex;
  font-style: italic;
  flex: 2;
}
.aspects{
  display: flex;
  margin: 4px;
  padding: 0px;
  border: 2px solid blue;
  flex-direction:column;
}
.aspects:before{
  content: "Info";
  font-weight: bold;
  background: #0000FF;
  color: #FFFFFF;
}
.aspect, .aspects:before{
  flex: 1;
  padding: 0.25em;
}
.button{
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #0000FF; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover{
  background-color: white;
  color: #0000FF;
}
.quotes{
  display: flex;
}
.quoted{
  display: flex;
  font-style: italic;
  flex: 2;
}